name: Create Release

on:
  push:
    tags:
      - "v*"

      
jobs:

  release:
    runs-on: windows-latest  

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Publish Bootstrapper Installer
      run: |
        dotnet publish Installer/Installer.csproj `
           -c Release `
           -r win-x64 `
           -p:PublishSingleFile=true `
           --self-contained false `
           -o publish_output

    - name: Rename output installer
      run: |
          ren publish_output\Installer.exe ImageCompressor_Setup_x64.exe

    - name: Upload Release Installer
      uses: softprops/action-gh-release@v1
      with:
        name: "Image Compressor Release - ${{ github.ref_name }}"
        files: publish_output/ImageCompressor_Setup_x64.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
